_ngo/
_xmsgs/
ipcore_dir/
iseconfig/
pll.vhd
pll_arwz.ucf
pll_summary.html
usage_statistics_webtalk.html
vga.gise
vga.xise
vga_disp.bgn
vga_disp.bld
vga_disp.cmd_log
vga_disp.drc
vga_disp.lso
vga_disp.ncd
vga_disp.ngc
vga_disp.ngd
vga_disp.ngr
vga_disp.pad
vga_disp.par
vga_disp.pcf
vga_disp.prj
vga_disp.ptwx
vga_disp.stx
vga_disp.syr
vga_disp.twr
vga_disp.twx
vga_disp.unroutes
vga_disp.ut
vga_disp.xpi
vga_disp.xst
vga_disp_bitgen.xwbt
vga_disp_envsettings.html
vga_disp_guide.ncd
vga_disp_map.map
vga_disp_map.mrp
vga_disp_map.ncd
vga_disp_map.ngm
vga_disp_map.xrpt
vga_disp_ngdbuild.xrpt
vga_disp_pad.csv
vga_disp_pad.txt
vga_disp_par.xrpt
vga_disp_summary.html
vga_disp_summary.xml
vga_disp_usage.xml
vga_disp_vhdl.prj
vga_disp_xst.xrpt
webtalk.log
webtalk_pn.xml
xaw2vhdl.log
xlnx_auto_0_xdb/
xst/
.lso
display.prj
display.stx
display.xst
display_vhdl.prj

